# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Kubernetes
*.secret.yaml

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
